<!-- FileName: main.handlebars-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Feeduction</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    {{{body}}}
</body>
</html>

