<div id="addlink">
	<form action='javascript:addLinks();' method="get" algin="left">
	            <label for="link">Feed link:</label>
	            <input type="text" id="link" name="link" placeholder="enter your links here" autofocus="on" />
	            <input id ="submit" type="submit" value="log in" onclick="addLinks();" />
	</form>
</div>