<h1> Login </h1>
			<div id="login">
				<form action='javascript:formget();' method="get" id="login" algin="left">
				            <label for="useraname">username:</label>
				            <input type="text" id="usrn" name="usrn" placeholder="enter your user name" autofocus="on" />
				            <label for="password">password:</label>
				            <input type="password" id="pass" name="pass" />
				            <input id ="submit" type="submit" value="log in" onclick="formget($();" />
				</form>
			</div>

			<h2 id='message'>{{message}} </h2>

			<h2><a href="javascript:register();" > Register</a></h2>