<h1> register </h1>
<form action="javascript:adduser();" method="post" align="left">
            <label for="name">name :</label>
            <input type="text" id="name" name="name" placeholder="enter your name" autofocus="on"/>
            <br>

            <label for="email">e-mail :</label>
            <input type="email" id="email" name="email" placeholder="enter your email id" />
            <br>

            <label for="no">contact no :</label>
            <input type="tel" id="no" name="no" placeholder="enter your contact no" />
            <br>

            <label for="username">username : </label>
            <input type="text" id="username" name="username" placeholder="enter the username"/>
            <br>
            <label for="no">password:</label>
            <input type="password" id="pass" name="pass" />
            <br>
            <input type="submit" value="Register" onclick=""/>
</form>
<h1>{{message}}</h1>